@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;1,200&family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Permanent+Marker&family=Poppins:wght@600&family=Raleway:ital,wght@0,100;0,200;1,200&family=Rock+3D&family=Ubuntu:wght@500&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

.carousel-indicators{
  bottom: -20%!important;
}

.carousel-item{
  height: 250px;
}


.carousel-indicators li{
         width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid #fff;
    background: #eee;
}

.carousel{
  margin-top: 10%;
}
.bg-light {
    background-color: #070707!important;
    position: sticky;
    position: -webkit-sticky;
    padding: 13px;
    top: 0%;
    z-index: 555;
  height: 65px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-toggler{
  color: #fff;
    border-color: #fff;

}
.navbar-collapse{
  background: #000;
}

.nav-item{
  cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: color .3s ease,background-color .3s ease;
    padding: 15px
}
    
    .titlee{
      display: none;
    }


.nav-item:first-letter {
    text-transform: uppercase;
}




.nav-link{
  font-weight: 600;
    color: #fff!important;

}

.headerabout{
  background-color: #e4a455;
}


.headercompetance{
  background-color: #505cc1;
}



.nav-item>.active{
color: #ff1e5c !important;
font-weight: 700;
}

.nav-link:hover {
  color: #ff1e5c!important;
}

.AllPortfolio  img{
  width:100%;
  height: auto;
  
}

.AllPortfolio{

    width: 55%;
    margin: auto;
    margin-top:5% ;
    margin-bottom:5% ;
  }

  a.item-link:hover .portfolio-text-holder {
    opacity: 1;
    background: #000;
    width: 95%;
    height: 95%;
   padding-top: 39%;
}
.portfolio-text-holder {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    z-index: 1;
    opacity: 0;
    transform: translate(-50%,-50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
        padding: 3%;
}
.portfolio-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
}

.portfolio-desc {
        font-size: 14px;
    line-height: 19px;
    color: #fff;
    letter-spacing: 1px;
}

a.item-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.category {
  top: 0;
  font: 41px/57px "Titan One";
  color: #f83d23;
}
.title {
  font: 50px/60px "Crimson Text";
  margin: 0;
  width: 90%;
  margin: auto;
   position: -webkit-sticky;
  position: sticky;
  height: 550px;
  top: 9%;
  width: 270px;
    color: #fff;
    word-break: break-all;
    padding-top: 50px;
}

.titleh1{
  text-align: left;
    padding-top: 0;
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
}


.titleh2{
  text-align: left;
    padding-top: 0;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

.about{
  background-color: #efa954;
}

.competancecontenue{
  background-color: #5067c1;
}


.col-sm-6{
  padding: 0!important;
}
.Row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.education{
  background-image: url('../image/bg_sec.jpg');

}
.educationcontenue{
  padding: 5%;
}

.experience , .experiencecontenue{
  background: #d41e5b;
}

.headerexperience{
  background-color: #ff1e5e;
}


.portfolio{
  background: #ff1e5e;
}

.headerportfolio{
 background-color: #d41e5b;
 
}


.home{
  background: url('../image/hero_main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #111111 !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

article,
.emptyBlocks {
  width: 100vw;
  min-height: 100vh;
}


li.timeline-event {
    margin: 0 0 30px 60px;
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
    list-style: none;
    color: #fff;
    transition: .3s;
}
li.timeline-event:before {
   content: "";
    width: 2px;
    height: calc(100% - 0px);
    position: absolute;
    background-color: #fff;
    left: -2px;
    top: 37px;
}
span.timeline-circle:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 90%;
    border: 2px solid #fff;
    position: absolute;
    left: -16px;
    top: 5px;
    z-index: 1;
    transition: .3s;
}

.timeline-event-content {
    line-height: 160%;
    text-align: left;
    margin-left: 2%;
}

.timeline-event-date {
    position: absolute;
    left: -120px;
    top: 2px;
    color: #fff;
    transition: .3s;
}

.Content_home{
  width: 75%;
  margin: auto;
  padding: 5%;
  text-align: center;
  color: #fff;
}

.itemscenter{
    align-items: center;
    display: flex;
}

.benovolat h3{
font-family: 'Ubuntu', sans-serif;  
font-size: 30px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
        margin-bottom: 4%;
}
.benovolat h4{
font-family: 'Ubuntu', sans-serif;  
font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
}

.benovolat h5{
font-family: 'Ubuntu', sans-serif;  
font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
        margin-bottom: 4%;
}

.benovolat p{
font-family: 'Ubuntu', sans-serif;  
    color: #fff;

}
.Content_home h1{

font-family: 'Ubuntu', sans-serif;  
font-size: 35px;
    font-weight: 600;
    line-height: 56px;
}

.Content_home .img img{
  border-radius: 9999px;
  width: 70%;
  height: auto;
}

.Content_home .img img:hover{
opacity: 0.5;
}

.Content_home button{
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 3%;
  border-radius: 5px;
}

.Content_home button:hover{
  opacity: 0.5;
}

.presmoi{
      font-family: 'Raleway', sans-serif;
      margin-top: 10%;
}

.presmoi h6{
  margin: 2%;
}

.presmoi p{
  color: #fff;
}

.contentCompetance{
  width: 95%;
  margin: auto;
  padding: 5%;
}

.skill-percent {
    font-size: 48px;
    line-height: 100%;
    font-weight: 100;
    width: 100px;
    display: inline-block;
    vertical-align: text-top;
    font-family: 'Raleway',sans-serif;
}

.Myskills{
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 5%;
}

.Myskills h6{
  font-size: 19px;
    line-height: 35px;
}
.progress{
  background: none;
  border-radius: 0;
    border-top: 2px solid #ddd;
}
.progress-bar{
  background-color: #fff;
}

.contenueEducation{
  padding: 2%;
}

/* EDUCATION */
#education
{
    background: #fff;
}
#education .heading h2
{
    color: #d82c2e;
}
.education-block
{
    width:80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}
.education-block:hover
{
    background: #fff;
border-color:  #d82c2e;
}

.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon
{
    font-size: 40px;
}
.education-block h3
{
     color: #d82c2e;
}
.education-block h4
{
   margin-bottom: 20px;
}
.education-block p
{
  font-weight: bold;
}
.education-block .red-divider
{
    margin-bottom: 20px;
}




/* EXPERIENCE */
.experiencecontenue{
  padding: 5%;
}



#experience
{
    background: #d82c2e;
}

  .imageex {
    height: auto;
    width: 50%;
  }


#experience .heading h2
{
    color: #fff;
}
.timeline
{
    padding: 30px 10px;
    position: relative;
}
.timeline:before
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #fff;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li
{
    margin-bottom: 20px;
    position: relative;
    list-style: none;
}
.timeline > li:after
{
    clear: both;
}
.timeline > li:before, .timeline > li:after
{
    content: " ";
    display: table;
}
.timeline li .timeline-badge
{
    color: #000;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #fff;
    border-radius: 50%;
}
.timeline-panel-container
{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}
.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;   
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;   
    background: none;
}



.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}


.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4
{
     color: #fff;
}

.timeline-heading h3
{
     color: #fff;
     font-weight: 600;
     font-family: 'Poppins';
}


.text-mutedd{
  color: #fff;
}
@media only screen and (max-width: 600px) {

    img{
          height: auto;
    width: 100%;
    }
      .navbrand{
        display: none;
      }

      .tostycky{
       display: none;
      }
      .title{
        max-height: 100px;
      }

      .titlee{
     display: block;
    position: sticky;
    top: 55px;
    z-index: 155;
    background: #000;
    color: #fff;
    padding: 1%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    }

.icons{
  height: auto;
  width: 35%;
}


.timeline-heading h3 {
    font-size: 16px;
}



    }

.icons{
  height: auto;
  width: 25%;
}



    @media (max-width: 420px) {
  .category {
    font: 24px/72px "Titan One";
    text-align: center;
  }
  .footer {
    font-size: 9pt;
  }
}
@media (max-height: 946px){
  .tallScreenText{
    display: none;
  }

  .benovolat h3 {
        line-height: 45px;
  }
  .benovolat h4 {
          line-height: 35px;
}

.timeline-panel {
    width: 100%;
    float: right;
    margin-right: 40px;
    border-radius: 7px;
    padding: 5px;
    position: relative;
    background: none;
}



}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 0px!important;
    padding-left: 0px!important;
}